html{
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    background-color: #faf8f3;
}
::-webkit-scrollbar{
    display: none;
}
div{
    overflow-x: hidden;
}
.navbar{
    background-color: transparent;
}
nav{
    background-color: transparent;
    z-index: 2;
}
/* page1 */
.page1{
    position: relative;
    height: 100vh;
}
.container1{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0%;
    z-index: -1;
    object-fit: cover;
}
.container1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container2 h2{
    color: white;
    font-size: 21vw;
    font-family: fantasy;
    letter-spacing: 14px;
    text-align: center;
    margin-top: 15vw;
    z-index: 2;
    /* position: absolute;
    left: -19%;
    transform: translate(50%,%50);
    transform: translate(50%, 50%);
    top: 21%; */
}
.container2 h2 span{
    display: inline-block;
}

.cursor{position: absolute;
    background-color: coral;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    cursor:default;
    z-index: 1;
    /* transition: 100ms all; */
}

.page2{
    margin-top: 50px;
    height: 100vh;
}

.page2 .first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 1px solid black;
    margin: 10px 20px;
    
}

.page2  .first span{
    font-size: 24px;
    opacity: 0;
}

.page2 .second p{
    font-size: 3.5vw;
    font-weight:600 !important;
    width: 92%;
    margin: 33px auto;
    font-weight: 400;
    opacity: 0;
    transition: ease all;

}

.page3{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}
.page3 .modle{
    background: black;
    color: white;
    border-radius: 14px;
    text-align: center;
    padding: 2px 8px;
    margin: 0px 11px;
}
.page3 h2{
        font-size: 4vw;
    text-align: center;
    /* opacity: 0; */
}

.page4{
      margin: 1px 5px;
}
.card4{
/* margin: 20px; */
position: relative;
}
.cardimg{
    
}
.card4 video{
    object-fit: cover;
    width: 100%;

}
.card4  img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    transition: 200ms ease-in all;
}
.card4:hover img{
    opacity: 0;
}


.pg6{
    /* position: relative; */
    height: fit-content;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;


}
.page6 {
    /* position: relative; */
}
.pg6 video{
    width: 63%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
    /* border: 1px solid black;
    border-radius: 50%; */
    /* z-index: 3  ; */
    /* position: relative; */

}
.cur6{
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 4;
    cursor: pointer;
    transform: translate(-50%,-50%);
}


.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: fit-content;

  }

  .page8 div{
    overflow: unset;
  }

  

 .page8 h2{
    font-size: 9vw;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    opacity: 1;

    /* border-bottom: 1px solid black; */
 } 
 .page8 hr{
    width: 91%;
    margin: auto;
    border: 1px solid #f50606;
 }

 .loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 100;
 }

 .loader  span{
    display: inline-block;
 }

 nav a{
    color: white !important;
 }
 nav button{
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-weight: 500;
    transition: 200ms ease-in all;
 }
nav button:hover{
    background-color:white;
    color: black !important;
}
 nav button:active{
    box-shadow: none;
    border: none;
 }